.DS_Store

# Android Studio files
*.iml
.idea/

/local.properties

/.idea/workspace.xml
/.idea/libraries

.DS_Store

/build
/captures

.externalNativeBuild

*/dependency-reduced-pom.xml

**/verification.properties
