<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applovin.mediation.adapters.adcolony">

    <application>
        <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
    </application>
</manifest>
