<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applovin.enterprise.apps.demoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="applovin.sdk.key"
            android:value="SDK_KEY_HERE" />

        <activity
            android:name="com.applovin.enterprise.apps.demoapp.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.applovin.enterprise.apps.demoapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ads.max.banners.MaxBannerDemoMenuActivity"
            android:label="@string/title_activity_banner_list" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.max.banners.ProgrammaticBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.ads.max.banners.MaxBannerDemoMenuActivity" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.max.banners.LayoutEditorBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.ads.max.banners.MaxBannerDemoMenuActivity" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.max.RewardedAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.MainActivity" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.max.InterstitialAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.MainActivity" />
        <activity
            android:name=".ads.applovin.banners.BannerDemoMenuActivity"
            android:label="@string/title_activity_banner_list" />
        <activity
            android:name=".ads.applovin.banners.BannerProgrammaticActivity"
            android:label="@string/title_activity_banner_programmatic"
            android:parentActivityName=".ads.applovin.banners.BannerProgrammaticActivity" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="05TMDQ5tZabpXQ45_UTbmEGNUtVAzSTzT6KmWQc5_CuWdzccS4DCITZoL3yIWUG3bbq60QC_d4WF28tUC4gVTF " />

    </application>
</manifest>
