<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applovin.enterprise.apps.demoapp.kotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="applovin.sdk.key"
            android:value="SDK_KEY_HERE" />

        <activity
            android:name="com.applovin.enterprise.apps.demoapp.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.InterstitialAdActivity"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.MainActivity" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.LayoutEditorBannerAdActivity"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.MainActivity" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.LayoutEditorMRecAdActivity"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.MainActivity" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.ProgrammaticBannerAdActivity"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.MainActivity" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.ProgrammaticMRecAdActivity"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.MainActivity" />
        <activity
            android:name="com.applovin.enterprise.apps.demoapp.ads.RewardedAdActivity"
            android:parentActivityName="com.applovin.enterprise.apps.demoapp.MainActivity" />
    </application>
</manifest>
