<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- NOTE: Amazon's SDK declares permissions in the AAR, but not Activities -->
    <application>
        <activity android:name="com.amazon.device.ads.DTBInterstitialActivity" />
        <activity android:name="com.amazon.device.ads.DTBAdActivity" />
    </application>
</manifest>
