<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applovin.enterprise.apps.demoapp">

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="applovin.sdk.key"
            android:value="SDK_KEY_HERE" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ads.max.interstitial.InterstitialAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.banner.BannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Banners"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.banner.ProgrammaticBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.banner.LayoutEditorBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.banner.JetpackComposeBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.mrecs.MrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="MRECs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.mrecs.LayoutEditorMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.mrecs.ProgrammaticMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.mrecs.RecyclerViewMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.mrecs.JetpackComposeMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.appopen.AppOpenAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.rewarded.RewardedAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.nativead.NativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Natives"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.nativead.TemplateNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.nativead.ManualNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.nativead.ManualNativeLateBindingAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.nativead.RecyclerViewNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.max.nativead.JetpackComposeTemplateNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ads.applovin.interstitials.InterstitialDemoMenuActivity"
            android:label="@string/title_activity_interstitial_list" />
        <activity
            android:name=".ads.applovin.interstitials.InterstitialBasicIntegrationActivity"
            android:label="@string/title_activity_interstitial_basic_integration" />
        <activity
            android:name=".ads.applovin.interstitials.InterstitialManualLoadingActivity"
            android:label="@string/title_activity_interstitial_manual_loading" />
        <activity
            android:name=".ads.applovin.interstitials.InterstitialZoneActivity"
            android:label="@string/title_activity_interstitial_zone_integration" />
        <activity
            android:name=".ads.applovin.rewarded.RewardedVideosDemoMenuActivity"
            android:label="@string/title_activity_rewarded_videos_list" />
        <activity
            android:name=".ads.applovin.rewarded.RewardedVideosActivity"
            android:label="@string/title_activity_rewarded_videos_basic_integration" />
        <activity
            android:name=".ads.applovin.rewarded.RewardedVideosZoneActivity"
            android:label="@string/title_activity_rewarded_videos_zone_integration" />
        <activity
            android:name=".ads.applovin.banners.BannerDemoMenuActivity"
            android:label="@string/title_activity_banner_list" />
        <activity
            android:name=".ads.applovin.banners.BannerProgrammaticActivity"
            android:label="@string/title_activity_banner_programmatic" />
        <activity
            android:name=".ads.applovin.banners.BannerLayoutEditorActivity"
            android:label="@string/title_activity_banner_layout_editor" />
        <activity
            android:name=".ads.applovin.banners.BannerZoneActivity"
            android:label="@string/title_activity_banner_zone_integration" />
        <activity
            android:name=".ads.applovin.banners.BannerJetpackComposeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_banner_jetpack_compose" />
        <activity
            android:name=".ads.applovin.leaders.LeaderDemoMenuActivity"
            android:label="@string/title_activity_leader_list" />
        <activity
            android:name=".ads.applovin.leaders.LeaderProgrammaticActivity"
            android:label="@string/title_activity_leader_programmatic" />
        <activity
            android:name=".ads.applovin.leaders.LeaderLayoutEditorActivity"
            android:label="@string/title_activity_leader_layout_editor" />
        <activity
            android:name=".ads.applovin.leaders.LeaderJetpackComposeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_leader_jetpack_compose" />
        <activity
            android:name=".ads.applovin.mrecs.MRecDemoMenuActivity"
            android:label="@string/title_activity_mrec_list" />
        <activity
            android:name=".ads.applovin.mrecs.MRecProgrammaticActivity"
            android:label="@string/title_activity_mrec_programmatic" />
        <activity
            android:name=".ads.applovin.mrecs.MRecLayoutEditorActivity"
            android:label="@string/title_activity_mrec_layout_editor" />
        <activity
            android:name=".ads.applovin.mrecs.MRecJetpackComposeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_mrec_jetpack_compose" />
        <activity
            android:name=".ads.applovin.eventtracking.EventTrackingActivity"
            android:label="@string/title_activity_event_tracking" />
    </application>

</manifest>