<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applovin.mediation.adapters.tappx">
    <application>
        <receiver
            android:name="com.tappx.sdk.android.TrackInstallReceiver"
            android:exported="true"></receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>

